<div class="card">
    <div class="car-body">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolore quia veritatis non nihil velit qui sequi obcaecati tempore ut, dignissimos quibusdam ratione beatae quaerat placeat sint dolor at distinctio deserunt veniam error nemo? Tempore provident sapiente aspernatur delectus atque?</p>
        
    </div>
</div>